﻿@{
    ViewData["Title"] = "Home Page";
}

@inject IViewLocalizer localizer

<div style="text-align:center">

    <div style="width:20%;float:left">
        <div style="margin-top:20px">
            <a asp-controller="Home" asp-action="Language" asp-route-culture="nl">Nederlands</a>
        </div>
        <div>
            <a asp-controller="Home" asp-action="Language" asp-route-culture="en">Engels</a>
        </div>    
    </div>

    <div style="width:80%;display:inline-block">
        <h1>Localized Text</h1>
        <p>@localizer["WelkomText"]</p>
    </div>
</div>
